
<div class="container">
    <h4>
        <mark>Car</mark>{{name}} <small>{{model}}</small>
    </h4>
    <div class="alert alert-success">
        Characteristics of the car
        <ul>
            <li>Speed : <strong>{{speed}}</strong> km/h</li>
            <li>Color of the car : <strong>{{colors.car}}</strong></li>
            <li>Color of the salon : <strong>{{colors.salon}}</strong></li>
            <li>Color of the wheels : <strong>{{colors.wheels}}</strong></li>
        </ul>
    </div>
    <h5>The car opportunities</h5>
    <div class="alert alert-warning">
        <ul>
            <li *ngFor = "let opt of options">{{opt}}</li>
        </ul>
    </div>
    <h5>Choose the car</h5>
    <button class="btn btn-danger" 
    (click) = "carSelect('bmw')">BMW</button>
    <button class="btn btn-success"
    (click) = "carSelect('audi')">Audi</button>
    <button class="btn btn-info"
    (click) = "carSelect('mer')">Mercedes</button>


</div>